@import 'shared/styles_modules/colors';
@import 'shared/styles_modules/mixines';

.confirmation-modal {
    .modal-body {
        height: 168px;
        justify-content: space-around;
    }
}


.modal-dialog {
    // margin: 0 auto;
    .modal-content {
        .modal-header {
            background-color: $header;
            color: #ffff;
            height: 56px;
            position: relative;
            .modal-title {
                position: absolute;
                left: 30%;
                @include modalTitle;
            }
        }
        
        .modal-body {
            display: flex;
            flex-direction: column;
            align-items: center;            
            .modal-title-block {
                .modal-title {
                    font-weight: bold;
                }
            }
            .btn {
                width: 100%;
                background-color: $confirmButtonDefault;
                transition-duration: 300ms;
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}
