@import 'shared/styles_modules/colors';
@import 'shared/styles_modules/sizes';

.header {
    width: 100vw;
    height: $mainHeaderHeight;
    background-color: $header;
    position: fixed;
    z-index: 2;
}
