@import "shared/styles_modules/colors";

table {    
    width: 100%;  



    thead, tbody {
        width: 100%;
        border-bottom: solid black 1px;
    }

    th, td {
        border-bottom: solid black 1px;
    }


    form {
        .submit-btn {
            &--disabled {
                opacity: 0.4;
                &:hover {
                    cursor: default;
                }
            }
        }
    }
    
}

