@import "shared/styles_modules/colors";
@import 'shared/styles_modules/mixines';

.table {
    padding: 0 32px;
    table {
        width: 100%;
        background-color: #ffff;
        border-collapse: separate;


        tr {
            @include tableRow;
            > th:first-child,
            td:first-child,
            th:first-child,
            td:first-child,
            th:last-child,
            td:last-child,
            th:last-child,
            td:last-child {
                border: 2px blue solid;
                border-radius: 10px;
            }
        }

    }
    form {
        .submit-btn {
            &--disabled {
                opacity: 0.4;
                &:hover {
                    cursor: default;
                }
            }
        }
    }

}


