$primary: #1890ff;
$secondary: #e6f7ff;
$uploadButton: #f5f5f5;
$disabledElement: #e8e8e8;
$inputBorder: #d9d9d9;
$inputHover: #40a9ff;

$primaryFont: #262626;
$secondaryFont: #595959;
$placeholderFont: #bfbfbf;
$disabledFont: #bcbcbc;
$errorFont: #f5222d;

$hoverButton: #40a9ff;
$focusedButton: #096dd9;
