$header: #353D4B;
$mainBackground: #E5E5E5;

$confirmButtonDefault: #4587ED;
$cancelButton: #E4E5E8;
$cancelButtonFont: #6D7885;

$inputBackgroud: #EBECEF;

$fontDefault: #353D4B;
$tableBodyFont: #000000;

$modalFooterBckg: #F6F7F9;



// todo delet below

$primary: #1890ff;
$secondary: #e6f7ff;
$uploadButton: #f5f5f5;
$disabledElement: #e8e8e8;
$inputBorder: #d9d9d9;
$inputHover: #40a9ff;

$primaryFont: #262626;
$secondaryFont: #595959;
$placeholderFont: #bfbfbf;
$disabledFont: #bcbcbc;
$errorFont: #f5222d;

$hoverButton: #40a9ff;
$focusedButton: #096dd9;
