$header: #353D4B;
$mainBackground: #E5E5E5;
$confirmButtonDefault: #4587ED;
$cancelButton: #E4E5E8;
$cancelButtonFont: #6D7885;
$inputBackgroud: #EBECEF;
$fontDefault: #353D4B;
$tableBodyFont: #000000;
$modalFooterBckg: #F6F7F9;
$hoverButton: #4587ED;
$inputHover: #40a9ff;
$errorFont: #f5222d;

