@import "./colors";

@mixin tableRow {
  background-color: #ffff;
  height: 40px;
  border:green 0.5px solid;  
  border-radius: 10%;
  margin: 2em 0;
}

@mixin tableCell {
  background-color: #ffff;  
}


@mixin errorMessage {
  color: $errorFont;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  margin: 0;
  padding: 0;
}

@mixin blockName {
  color: $primaryFont;
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
}

@mixin inputLabel {
  color: $primaryFont;
  font-size: 14px;
  font-weight: normal;
  line-height: 15px;
}
