@import "./colors";

@mixin tableRow {  
    height: 40px;
    border: 1px #ffff solid;
    background-color: #ffff;  
}

@mixin pseudoRow {
    height: 4px;
    display: table-row;
    content: '';
}

@mixin tableFont {
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

@mixin modalTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

@mixin errorMessage {
  color: $errorFont;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  margin: 0;
  padding: 0;
}
