@import "./colors";

@mixin mainHeader {
  color: $primaryFont;
  font-weight: 500;
  font-size: 40px;
  line-height: 38px;
}
@mixin errorMessage {
  color: $errorFont;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  margin: 0;
  padding: 0;
}

@mixin blockName {
  color: $primaryFont;
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
}

@mixin inputLabel {
  color: $primaryFont;
  font-size: 14px;
  font-weight: normal;
  line-height: 15px;
}
