.tbdoy-row {
    .tbdoy-row__control-panel {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        > :first-child {
            margin-right: 16px;
        }
        img {
            width: 32px;
            height: 32px;
            &:hover {
                cursor: pointer;
            }
        }


    }

}