@import 'shared/styles_modules/colors';
@import 'shared/styles_modules/colors';
@import 'shared/styles_modules/sizes';

.userData-table-container__content {
    display: flex;
    background-color: $mainBackground;
    padding-top: $mainHeaderHeight;
    height: 100vh;
}
